<section class="benefits" id="benefits">
    <div class="container">

        <div class="benefits__inner-top">
            <h3 class="title benefits__title">AT SCHOOL YOU WILL RECEIVE</h3>
            <div class="benefits__list">
                <div class="benefits__list-item">
                    <p class="benefits__list-title benefits__list--sun">ACCOMMODATION</p>
                    <p class="benefits__list-subtitle">Our surf school is located 100 m from the ocean
                        coast. From
                        the top terrace offers ocean views. Distance to the city center 15 min.</p>
                </div>
                <div class="benefits__list-item">
                    <p class="benefits__list-title benefits__list--plane">FLIGHT AND
                        INSURANCE</p>
                    <p class="benefits__list-subtitle">All program participants are insured by an insurance company
                        Allianz.
                        Flight from Tenerife to Lanzarote and back is included in the price of the program</p>
                </div>
                <div class="benefits__list-item">
                    <p class="benefits__list-title benefits__list--men">TRAINING AND
                        EQUIPMENT</p>
                    <p class="benefits__list-subtitle">All equipment and equipment of well-known manufacturers and
                        provided for the entire course of the program. Training process
                        starts with determining your level of riding</p>
                </div>
            </div>
        </div>
        <div class="benefits__inner-bottom">
            <div class="benefits__info">
                <div class="benefits__info-item">Came for the second time <span
                        style="width: calc(100% - 80%);">80%</span></div>
                <div class="benefits__info-item">Learned to ride <span
                        style="width: calc(100% - 95%);">95%</span></div>
                <div class="benefits__info-item">Satisfied customers <span
                        style="width: calc(100% - 99%);">99%</span></div>
            </div>
            <div class="benefits__info-text">
                <p>A huge advantage of our school is its own teaching methodology. We have developed
                    own learning style
                    surfing, which allows beginners to get on the board as quickly as possible.</p>
                <p>It was our methodology and our teachers that allowed us to pass the certification of the Surfing Federation
                    Canary Islands -
                    FEDERACIÓN CANARIA DE SURF. This means that our school meets all international standards.
                    Recertification
                    produced annually and this allows us to always strive to improve training.</p>
            </div>
        </div>

    </div>
</section>