
<section class="blog" id="blog">
    <h3 class="title blog__title">BLOG</h3>
    <div class="blog__inner">
        <div class="container">

            <div class="blog__slider-items">

                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>
                <div class="blog__slider-item">
                    <h4 class="blog__slider-title">
                        <a href="#" class="blog__slider-link">WHAT YOU NEED TO BRING WITH YOU ON A SURF TOUR</a>
                    </h4>
                    <p class="blog__slider-discr">TOP 20 necessary things for comfortable rest and study</p>
                </div>


</section>


