<section class="gallery">
    <div class="container">

        <div class="gallery__inner">
            <h3 class="title gallery__title">GALLERY</h3>
            <div class="gallery__button">
                <button class="gallery__btn" data-filter="all">ALL</button>
                <button class="gallery__btn" data-filter=".category-tourists">TOURISTS</button>
                <button class="gallery__btn" data-filter=".category-nature">NATURE</button>
                <button class="gallery__btn" data-filter=".category-prof">PROFI</button>
            </div>
            <div class="gallery__content">
                <a class="gallery__img-link mix category-nature category-prof" href="images/gallery1.jpg"
                    data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery1.jpg" alt="photo gallery">
                </a>
                <a class="gallery__img-link mix category-tourists" href="images/gallery2.jpg" data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery2.jpg" alt="photo gallery">
                </a>
                <a class="gallery__img-link mix category-prof" href="images/gallery3.jpg" data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery3.jpg" alt="photo gallery">
                </a>
                <a class="gallery__img-link mix category-tourists" href="images/gallery4.jpg" data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery4.jpg" alt="photo gallery">
                </a>
                <a class="gallery__img-link mix category-nature" href="images/gallery5.jpg" data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery5.jpg" alt="photo gallery">
                </a>
                <a class="gallery__img-link mix category-tourists" href="images/gallery6.jpg" data-fancybox="gallery">
                    <img class="gallery__image" src="images/gallery6.jpg" alt="photo gallery">
                </a>
            </div>
        </div>

    </div>

    <a class="gallery__add" href="#">SHOW MORE</a>

    <blockquote class="blockquote">"When in doubt, go for a ride." <span>Nat Young, the first World Champion in
        surfing</span></blockquote>

    <div class="container">

        <div class="gallery__video">
            <a class="gallery__video-link" href="https://youtu.be/U4RDCKR4fLE" data-fancybox>
                <img src="images/video-ico.svg" alt="video play icon">
            </a>
        </div>
        <div class="gallery__numbers">
            <h5 class="gallery__numbers-item">450
                <span>tourists</span>
            </h5>
            <h5 class="gallery__numbers-item">2500
                <span>hours of skiing</span>
            </h5>
            <h5 class="gallery__numbers-item">10
                <span>prof. trainers</span>
            </h5>
            <h5 class="gallery__numbers-item">365
                <span>days a year</span>
            </h5>
        </div>

    </div>
</section>