<section class="intro" id="intro">
    <div class="container">

        <div class="intro__inner-top">
            <div class="intro__content-top">
                <h1 class="intro__title-top">Find a gift for your wife or girlfriend</h1>
                <p class="intro__text-top">Struggling to find a gift for your wife or girlfriend? No problem!</p>
                <a class="page__btn-top" href="#">Find gift now</a>
            </div>
            <img class="intro__img-top" src="../images/intro-top.png" alt="">
        </div>
        <div class="intro__inner-bottom" id="about">
            <img class="intro__img-bottom" src="../images/intro-bottom.png" alt="find gift now">
            <div class="intro__content-bottom">
                <p class="intro__title-bottom">How we work</p>
                <p class="intro__text-bottom">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.</p>
                <a class="page__btn-bottom" href="#">Learn More</a>
            </div>
        </div>

    </div>
</section>