<section class="tops">
    <div class="container">

        <div class="tops__inner">
            <h3 class="title tops__title">CONQUER THE TOP</h3>
            <div class="tops__text">
                <p>The teachers of our surf school are among the best surfers in the Canary Islands. Among them -
                    European champion in
                    longboard, who will gladly share his experience with both beginners and more experienced surfers.
                    All members of the teaching staff are certified members of the Surfing Federation
                    Canary Islands.
                    Some of them know Russian, which definitely positions us as a Russian school
                    surfing abroad!</p>
                <p>The entire coaching staff regularly participates in seminars and refresher courses, which
                    held all over the world
                    various famous surf clubs and federations. Therefore, in our surf school you can be
                    calm: you are being taught
                    the best trainers!</p>
                <p>The method of learning to surf is designed for both beginners, intermediate level surfers, and
                    TOP level surfers.
                    Coaches find an approach to everyone, despite the fact that learning to surf at our school
                    produced in groups. However, we
                    we offer personal surf lessons - just you and the coach!</p>
            </div>
        </div>

    </div>
</section>