<section class="about" id="about">
    <div class="container">

        <div class="about__inner">
            <h3 class="title about__title">ABOUT THE SCHOOL, ABOUT SURFING, ABOUT THE CANARIANS</h3>
            <div class="about__text">
                <div class="about__text-left">
                    <p>It is no coincidence that the Canary Islands are called European Hawaii - this is
                        perfect place for fans
                        surf: stable
                        warm wind all year round, sandy beaches, kilometers of unspoiled expanses and clear sea.
                        A real mecca for
                        surfers becomes Fuerteventura - the second largest island of the archipelago.</p>
                    <p>It is here that the best place in Spain where you can study
                        surfing. Besides that in winter
                        and fall here
                        huge Atlantic waves come, Fuerteventura boasts many
                        shallow water
                        calm lagoons, excellent
                        suitable for teaching beginner surfers.</p>
                    <p>Surfing in the Canary Islands is available all year round - both waves and
                        the right weather is always there.
                        And the wave
                        suitable for the level, can be found by both a real pro and a beginner. It is no coincidence that it is believed that
                        exactly
                        this place is the best
                        suitable for learning here it is possible to move to a new level without difficulties.</p>
                    <p>Listing the advantages, one cannot get around the fact that the beaches of Fuerteventura
                        the longest in the Canaries. IN
                        ultimately impossible
                        imagine them crowded with tourists. You will only encounter those who, like you, will
                        interested in one goal -
                        surfing training.</p>
                </div>
                <div class="about__text-right">
                    <p>So far, you only want to understand what surfing is, or have already experienced
                        all the charm of riding the waves,
                        but you want to raise
                        your level? Our surf school will be able to offer training for any level of experience.
                    </p>
                    <p>Four hours of exciting activities a day will help you confidently conquer
                        waves, feel
                        real surfer.</p>
                    <p>The main advantages of our Russian school are high quality
                        teaching and organization of classes,
                        security (all our
                        clients are insured by Allianz), excellent inventory and equipment (provided
                        on
                        the whole
                        curriculum), including
                        including soft safety boards for beginners.</p>
                    <p>First we determine the level of skating and physical fitness and only
                        then make a program
                        preparation. And we can
                        to assure that after the training is over, you will not only receive a lot of great
                        sensations, but this level
                        rise to a new level.</p>
                </div>
            </div>
        </div>

    </div>
</section>