<div class="map"></div>

    <section class="contacts" id="contacts">
        <div class="container">

            <div class="contacts__inner">

                <h3 class="title">SUBMIT YOUR APPLICATION</h3>
                <div class="contacts__content">
                    <form class="contacts__form">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone number">
                        <textarea placeholder="Leave a message and we will contact you shortly"></textarea>
                        <button type="submit">SEND</button>
                    </form>
                    <div class="contacts__info">
                        <p class="contacts__title">Have a question? <br> You can contact us:
                        </p>
                        <p class="phone">WhatsApp, Viber, Telegram<a href="tel:+34674863788"><br>
                                +3 467 486-37-88</a></p>
                        <address class="address">Avenida grandes playas 79,
                            Corralejo la Oliva Fuerteventura,
                            Spain. 35660
                        </address>
                    </div>
                </div>

            </div>

        </div>
    </section>