<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gelasio:wght@600;700&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.min.css">

    <title>Wave</title>
</head>

<body>


    <header class="header" id="header">
        <div class="container">

            <div class="header__top">
                <div class="header__top-inner">
                    <a class="logo__link" href="#">
                        <img class="logo__img" src="images/logo.svg" alt="logo">
                    </a>

                    <nav class="menu">
                        <button class="menu__burger">
                            <svg enable-background="new 0 0 32 32" id="Glyph" version="1.1" viewBox="0 0 32 32"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path
                                    d="M29,16c0,1.104-0.896,2-2,2H11c-1.104,0-2-0.896-2-2s0.896-2,2-2h16C28.104,14,29,14.896,29,16z"
                                    id="XMLID_352_" />
                                <path
                                    d="M29,6c0,1.104-0.896,2-2,2H11C9.896,8,9,7.104,9,6s0.896-2,2-2h16C28.104,4,29,4.896,29,6z"
                                    id="XMLID_354_" />
                                <path
                                    d="M29,26c0,1.104-0.896,2-2,2H11c-1.104,0-2-0.896-2-2s0.896-2,2-2h16C28.104,24,29,24.896,29,26z"
                                    id="XMLID_356_" />
                                <path d="M3,6c0,1.103,0.897,2,2,2s2-0.897,2-2S6.103,4,5,4S3,4.897,3,6z"
                                    id="XMLID_358_" />
                                <path d="M3,16c0,1.103,0.897,2,2,2s2-0.897,2-2s-0.897-2-2-2S3,14.897,3,16z"
                                    id="XMLID_360_" />
                                <path d="M3,26c0,1.103,0.897,2,2,2s2-0.897,2-2s-0.897-2-2-2S3,24.897,3,26z"
                                    id="XMLID_362_" />
                            </svg>
                        </button>
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#about">About us</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#benefits">Services</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#services">Price</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#blog">Blog</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#team">Team</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="#contacts">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__content">
                <div class="header__content-inner">
                    <h1 class="header__title">WAWE</h1>
                    <h4 class="header__subtitle">Surf school in the Canary Islands</h4>
                    <a class="header__ico" href="#footer">
                        <img class="header__arrow-img" src="images/arrow.svg" alt="arrow down">
                    </a>
                </div>
            </div>

        </div>
        <a class="arrow__top-img" href="#header"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 284.815 284.815"
                style="enable-background:new 0 0 284.815 284.815;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M255.9,228.08c-7.725,0-14.987-3.014-20.45-8.471l-93.048-93.054l-93.041,93.048c-5.456,5.463-12.719,8.471-20.45,8.471
        			s-14.994-3.008-20.457-8.471c-11.273-11.273-11.273-29.621,0-40.894L121.952,65.205c5.456-5.463,12.719-8.471,20.444-8.471
        			c7.719,0,14.987,3.008,20.45,8.471l113.498,113.504c5.469,5.463,8.471,12.719,8.471,20.45c0,7.719-3.008,14.987-8.471,20.45
        			C270.888,225.066,263.626,228.08,255.9,228.08z M142.403,108.381l102.135,102.142c6.073,6.073,16.645,6.073,22.719,0
        			c3.04-3.04,4.704-7.076,4.704-11.363s-1.671-8.323-4.704-11.363L153.47,74.016c-6.073-5.797-16.453-5.701-22.423,0.276
        			L17.542,187.797c-6.266,6.266-6.266,16.459,0,22.719c6.073,6.073,16.658,6.073,22.725,0L142.403,108.381z" />
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg></a>
    </header>

    <main class="main">