<section class="services" id="services">
    <div class="container">

        <div class="services__inner">
            <h3 class="title">SERVICE PACKAGES</h3>
            <div class="services__items">
                <div class="services__item">
                    <ul class="services__item-list">
                        <li class="services__item-title">Standard</li>
                        <li>Accommodation in the villa 6 nights</li>
                        <li>Category number standard</li>
                        <li>Outfit for training</li>
                        <li>Surf training 5 sessions of 2 hours</li>
                        <li>Insurance</li>
                        <li>Party with treats and disco</li>
                        <li class="services__item-price"><a href="#">450<sup>$</sup></a></li>
                    </ul>
                </div>

                <div class="services__item">
                    <ul class="services__item-list">
                        <li class="services__item-title">All inclusive</li>
                        <li>Accommodation in the villa 6 nights</li>
                        <li>Luxury room</li>
                        <li>Outfit for training</li>
                        <li>Surf training 8 sessions of 2 hours</li>
                        <li>Insurance</li>
                        <li>Party with treats and disco</li>
                        <li>Air flight Tenerife - Lanzarote - Tenerife</li>
                        <li>Breakfast at the villa</li>
                        <li class="services__item-price"><a href="#">950<sup>$</sup></a></li>
                    </ul>
                </div>

                <div class="services__item">
                    <ul class="services__item-list">
                        <li class="services__item-title">Pro</li>
                        <li>Accommodation in the villa 8 nights</li>
                        <li>Luxury room</li>
                        <li>Outfit for training</li>
                        <li>Surf training 16 sessions of 2 hours</li>
                        <li>Insurance</li>
                        <li>Party with treats and disco</li>
                        <li>Air flight Tenerife - Lanzarote - Tenerife</li>
                        <li>Breakfasts and dinners in the villa</li>
                        <li class="services__item-price"><a href="#">1450<sup>$</sup></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>